body {
  margin: 0;
  background-image: url('images/background-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  min-height: 95vh;
  margin-top: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
  color: rgb(46, 187, 140);
  text-align: center;
  padding: 10px;
}

.fa-square-check {
  padding-left: 5px;
  vertical-align: middle;
}

.input-area {
  display: flex;
  padding-bottom: 15px;
}

#task-input {
  border-radius: 10px;
  width: 95%;
  padding-left: 15px;
  font-size: 20px;
}

#add-button {
  width: 4.5em;
  height: 3em;
  margin-left: 5px;
  border-radius: 10px;
  border: 1px solid rgb(46, 187, 140);
  background-color: rgb(46, 187, 140);
  text-align: center;
  font-weight: bold;
}

.task-area {
  border: 1px solid lightgray;
}

.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.task-tabs div {
  padding: 1em;
}

#under-line {
  height: 4px;
  width: 30%;
  background-color: rgb(46, 187, 140);
  position: absolute;
  left: 0px;
  top: 52px;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.task-button button {
  border: none;
  background-color: transparent;
  font-size: 28px;
  color: rgb(46, 187, 140);
  font-weight: bold;
}

.fa-circle-check,
.fa-rotate-left {
  padding-right: 15px;
}

.task-done {
  text-decoration: line-through;
  background-color: rgb(175, 226, 209);
}

.task-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1em;
  font-weight: bold;
}

.task-tabs div:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .container {
    width: 85%;
  }

  .task-button button {
    font-size: 20px;
    display: flex;
    flex-direction: row;
  }

  .task {
    font-size: 17px;
  }

  .task-button {
    display: flex;
    flex-direction: row;
  }

  .fa-circle-check,
  .fa-rotate-left {
    padding-right: 5px;
  }
}
